@if (!editMode) {
  <div class="row">
    <div class="col-md-5"> {{ parmVal }}      </div>
    <button class="btn btn-success btn-toggle col-md-2" type="button"
    (click)="editMode = true"> Edit</button>
    <button class="btn btn-danger col-md-2" type="button"
    (click)="onDeleteRecord()"> Delete</button>
  </div>
}
<p style="background-color: aqua;">{{ statusMsg }}</p>
@if (editMode) {
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <label for="parmVal">{{ parmLabel }}</label>
        <input type="text" class="form-control" [(ngModel)]="parmVal" data-cy="a1p-parmVal"
          name="parmVal" id="parmVal" ngModel placeholder="{{ parmVal }}">
        <button class="btn btn-success col-md-3" type="button" (click)="onAddRecord()">
        {{ newRow ? 'Add' : 'Update' }}</button>
        <button class="btn btn-primary col-md-3" type="button"
          (click)="onCancel()">
        Cancel</button>
      </div>
    </div>
  </div>
}
