[submodule "apps/clerk"]
	path = apps/clerk
	url = git@github.com:MikeC711g/clerk
	branch = main
[submodule "apps/credbutils"]
	path = apps/credbutils
	url = git@github.com:MikeC711g/credbutils
	branch = main
