<div class="row col-md-12" style="border: 2px solid black; margin-bottom: 10px; padding: 10px;">
@if (!newRow) {
  <div class="col-md-3" [style.backgroundColor]="bgColor">{{ lease.StartDt }}</div>
  <div class="col-md-4" [style.backgroundColor]="bgColor">{{ residentNm }}</div>
  <button class="btn btn-success btn-toggle col-md-1" type="button" data-cy="lee-exb" (click)="expandedView = !expandedView">
    @if (expandedView) {
      <img class="img-responsive" src="assets/images/chevron-up-icon.png" style="width: 16px; height: 16px;">
    } @else {
      <img class="img-responsive" src="assets/images/chevron-down-icon.png" style="width: 16px; height: 16px;">
    }
  </button>
}
@if (expandedView) {
  <label for="official" title="Is this lease legal (or implied)">Official lease</label>
  <input type="checkbox" [(ngModel)]="lease.official" name="official" id="official"
    ngModel data-cy="ale-official">
  <label for="startDt" title="Start Date of the lease">Start Date</label>
  <input type="date" class="form-control" [(ngModel)]="lease.StartDt" name="startDt" id="startDt"
    ngModel data-cy="ale-startDt" (change)="onDateEdit(true)"> {{sDtMsg}}
  <label for="endDt" title="End Date of the lease">End Date</label>
  <input type="date" class="form-control" [(ngModel)]="lease.EndDt" name="endDt" id="endDt"
    ngModel data-cy="ale-endDt" (change)="onDateEdit(false)" (focus)="preFillEndDate()"> {{eDtMsg}}
  <label for="rent" title="Monthly rent amount">Monthly Rent</label>
  <input type="number" class="form-control" [(ngModel)]="lease.Rent" name="rent" id="rent"
    ngModel data-cy="ale-rent">
  <label for="adlMth" title="Additional Monthly Fees (or 0)">Adl Mthly Fees</label>
  <input type="number" class="form-control" [(ngModel)]="lease.AdlMthlyFees" name="adlMth" id="adlMth"
    ngModel data-cy="ale-adlMth">
  <label for="rentDueDom" title="Day of Month Rent is Due">Day of Month Rent is Due</label>
  <input type="number" class="form-control" [(ngModel)]="lease.RentDueDom" name="rentDueDom" id="rentDueDom"
    ngModel data-cy="ale-rentDueDom" min="1" max="31" required>
  <label for="lateFee" title="Late Fee">Late Fee</label>
  <input type="number" class="form-control" [(ngModel)]="lease.LateFee" name="lateFee" id="lateFee"
    ngModel data-cy="ale-lateFee">
  <label for="gracePeriod" title="Grace Period">Grace Period</label>
  <input type="number" class="form-control" [(ngModel)]="lease.GracePeriod" name="gracePeriod" id="gracePeriod"
    ngModel data-cy="ale-gracePeriod" min="0" max="31" required>
  <label for="securityDeposit" title="Security Deposit">Security Deposit</label>
  <input type="number" class="form-control" [(ngModel)]="lease.SecurityDeposit" name="securityDeposit" id="securityDeposit"
    ngModel data-cy="ale-securityDeposit">
  <label for="adlStartupFees" title="Additional Startup Fees">Adl Startup Fees</label>
  <input type="number" class="form-control" [(ngModel)]="lease.AdlStartupFees" name="adlStartupFees" id="adlStartupFees"
    ngModel data-cy="ale-adlStartupFees">
  <label for="StartBal" title="Start Balance">Start Balance</label>
  <input type="number" class="form-control" [(ngModel)]="lease.StartBal" name="startBal" id="StartBal"
    ngModel data-cy="ale-startBal">
  <label for="Residents">Residents</label>
  <select class="form-control" id="residents" name="residents" [(ngModel)]="lease.Residents"
    multiple data-cy="ale-residents">
    @for (resident of residents; track resident) {
      <option [value]="resident.ResidentId"
        [selected]="lease.Residents.includes(resident.ResidentId!)">
      {{ resident.LName }} {{ resident.FName }}</option>
    }
  </select>
  <label for="cancelDt" title="Date lease is cancelled">Cancel Date</label>
  <input type="date" class="form-control" [(ngModel)]="lease.cancelDt" name="cancelDt" id="cancelDt"
    ngModel data-cy="ale-cancelDt" (change)="bgColor = (lease.cancelDt) ? 'red' : 'white'">

  <div class="row col-md-12">
    <button class="btn btn-primary col-md-2" type="button" (click)="onSaveRecord()"> {{ editMode ? 'Update' : 'Add' }} </button>
    <button class="btn btn-warning col-md-2" type="button" (click)="onCancelEdit()"> Cancel </button>
    @if (!newRow) {
      <button class="btn btn-danger col-md-2" type="button" (click)="onDeleteRecord()"> Delete </button>
    }
    @if (isLeaseCurrent && idx == 0) {
      <button class="btn btn-info col-md-3" type="button" (click)="onCreateLease(true)"> Create Renewal Lease </button>
    }
  </div>
}
</div>
