<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="navbar-brand">
    <img src="../../../assets/images/ClerkLogoV2.jpg" width="40" height="40">
    <font size="-1">  Real Estate Books</font>
  </span>
  <button class="navbar-toggler" type="button" (click)="navbarOpen = !navbarOpen">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button"
          data-bs-toggle="dropdown" aria-expanded="false" *ngIf="isAuthenticated">
           Transactions/Records</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="/trans/loadfile">
            Load tran file</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="/trans/createtran">
            Create tran</a>
          <div class="dropdown-divider"></div></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="/trans/search">
            Search transactions</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/auth"
          *ngIf="!isAuthenticated">Login</a></li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/projects"
          *ngIf="isAuthenticated"> Projects</a></li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/reconcile"
          *ngIf="isAuthenticated"> Reconciliations</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button"
          data-bs-toggle="dropdown" aria-expanded="false" *ngIf="isAuthenticated">
            Reports</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="/reports/profitnloss">
            Profit and Loss</a><div class="dropdown-divider"></div></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="/reports/dumpglobals">
            Dump of Globals</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="/reports/dumpprojects">
            Dump of Projects</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="/reports/dumprecons">
            Dump of Reconciliations</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="/reports/dumptrans">
            Dump of Transactions</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button"
          data-bs-toggle="dropdown" aria-expanded="false" *ngIf="isAdmin && isAuthenticated">
            Administration</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="/admin/houses">
            Houses</a><div class="dropdown-divider"></div></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="/admin/accounts">
            Accounts</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="/admin/taxCats">
            Tax Categories</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="/admin/categoryTaxcat">
            Categories</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="/admin/ruleData">
            Rules/Hints</a></li>
          <li><a class="dropdown-item" routerLinkActive="active" routerLink="/admin/logging">
            Logging</a></li>
        </ul>
      </li>

      <!--      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/admin"
          *ngIf="isAdmin && isAuthenticated"> Administration</a></li> -->
    </ul><ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link me-2" routerLinkActive="active" routerLink="/auth"
          *ngIf="isAuthenticated" (click)="logOut()"> Logout </a>
      </li>
    </ul>
  </div>
</nav>
<dialog #authTOId id="authTOId">
  <h3>Session has been inactive.  Continue or allow session to time out</h3>
  <button class="btn btn-primary col-md-2" type="button" data-cy="hdr-contSess"
    (click)="timeoutOpt(true)">Continue Session</button>
  <button class="btn btn-secondary col-md-2" type="button" data-cy="hdr-sessTimeout"
    (click)="timeoutOpt(false)">Allow timeout</button>
</dialog>
