<div class="row" *ngIf="editMode">
  <div class="col-3">{{ curProj.StartDt }}</div>
  <div class="col-2">{{ curProj.House }}</div>
  <div class="col-4">{{ curProj.Description }}</div>
  <button class="btn btn-success btn-toggle col-md-1" type="button" data-cy="cpe-expview"
    (click)="expandedView = !expandedView">
    <img class="img-responsive" src="assets/images/chevron-right-icon.png"
      style="width: 16px; height: 16px;" *ngIf="!expandedView">
    <img class="img-responsive" src="assets/images/chevron-down-icon.png"
      style="width: 16px; height: 16px;" *ngIf="expandedView">
  </button>
</div>
<div class="row col-md-12" *ngIf="expandedView || newRow">
  <form (ngSubmit)="onAddProject()" #projectForm="ngForm">
    <div class="row">
      <div class="form-group col-md-5 border-right">
        <label for="stDate">Start Date</label>
        <input type="date" class="form-control" [(ngModel)]="curProj.StartDt" (change)="chgData()"
          name="stDate" id="stDate" ngModel placeholder="Start Date" required data-cy="cpe-startDt">
      </div>
      <div class="form-group col-md-5">
        <label for="endDate">End Date</label>
        <input type="date" class="form-control" [(ngModel)]="curProj.EndDt" data-cy="cpe-endDt"
          name="endDate" id="endDate" ngModel placeholder="End Date" required (change)="chgData()">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12 border-right">
        <label for="house">House</label>
        <select class="form-control" id="house" name="house" (change)="chgData()"
          [(ngModel)]="curProj.House" data-cy="cpe-house" required #house="ngModel">
          <option [value]="''" [selected]="!curProj.House">
            -- select an option -- </option>
          <option *ngFor="let house of houses" [value]="house.name"
            [selected]="house.name === curProj.House">{{ house.name }}</option>
        </select>
      </div>
      <div [hidden]="house.valid || !house.touched"
        class="alert alert-danger"> House selection is required </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        <label for="description">Tran Description</label>
        <textarea type="text" id="description" class="form-control" [(ngModel)]="curProj.Description"
          rows="2" name="description" ngModel placeholder="Project Description" #description="ngModel"
          (change)="chgData()" data-cy="cpe-description" required></textarea>
      </div>
      <div [hidden]="description.valid || !description.touched"
        class="alert alert-danger"> Description is required </div>
      <!-- <div *ngIf="description.invalid && (description.dirty || description.touched)" -->
        <!-- class="alert alert-danger"> Description is required </div> -->
  </div>
    <div class="row col-md-12">
      <button class="btn btn-success col-md-3" type="submit"
        [disabled]="!projectForm.valid"> {{ editMode ? 'Update' : 'Add' }}</button>
      <button class="btn btn-danger col-md-3" type="button"
        [disabled]="!editMode" (click)="onDeleteProject()">Delete</button>
      <button class="btn btn-primary col-md-3" type="button" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
<div data-cy="cpe-msgs">
  <app-cremessages [dispMsgs]="dispMsgs"
    (msgDel)="onMsgDel($event.idx, $event.msg)"></app-cremessages>
</div>
