<div class="container">
  <div class="row col-md-12">
    <div class="col-md-6">
      <div class="row">
        <label for="dbPrefix">DB Prefix</label>
        <input type="text" name="dbPrefix" id="dbPrefix" [(ngModel)]="dbPrefix" ngModel>
      </div>
      <div class="row">
        <label for="cid">Customer ID</label>
        <input type="text" name="cid" id="cid" [(ngModel)]="cid" ngModel>
      </div>
      <div class="row">
        <label for="collection">Data Base Collection</label>
        <select class="form-control" id="collection" name="collection"
          (change)='changeCollection(collection.value)' #collection>
          <option *ngFor="let collection of dbCollections" [value]="collection"
            >{{ collection }}</option>
        </select>
      </div>
      <div class="row">
        <input type="file" #jsonfile name="jsonFile" id="jsonFile"
          (change)="jsonRead($event, collection.value)" accept=".json" />
      </div>
    </div>
    <div> {{ statusMsg }} </div>
  </div>
  Code Version: {{ codeVersion }}
</div>
