<div class="container">
  <div class="row">
    <h2>Manage Clerk Projects</h2>
    <div class="col-12">
      <div class="row">
        <crefinancials-datesel [title]="'Project'" [dateOpts]="dateOpts"
        (dateMod)="onDateMod($event.numDays, $event.startDt, $event.endDt)"></crefinancials-datesel>
        <hr>
        </div>
        <div class="form-group">
          <label for="house">House</label>
          <select class="form-control" multiple id="house" name="house" data-cy="pro-dho"
            [(ngModel)]="house">
            <option [value]="''" [selected]="!house">-- select an option --</option>
            @for (dHouse of houses; track dHouse) {
              <option [value]="dHouse.name"
              [selected]="house.includes(dHouse.name)" >{{ dHouse.name }}</option>
            }
          </select>
        </div>
        <button class="btn btn-info col-md-3"  type="button" id="submitSearch" data-cy="pro-srch"
        (click)="onQueryProj()" [disabled]="!(numDays || (startDt && endDt))" >Execute Search</button>
        <div class="row">
          <button class="btn btn-success col-3" type="button"
          (click)="newRow=true">New Project</button>
          @if (newRow) {
            <crefinancials-creprojectedit
            (projMod)="onProjMod($event.action, $event.project)"></crefinancials-creprojectedit>
          }
        </div>
        <div>
          <crefinancials-cremessages [dispMsgs]="dispMsgs"
          (msgDel)="onMsgDel($event.idx, $event.msg)"></crefinancials-cremessages>
        </div>
        @if (!!projects && projects.length > 0) {
          <div class="row">
            <ul>
              @for (project of projects; track project) {
                <li>
                  <crefinancials-creprojectedit [curProj]="project"
                  (projMod)="onProjMod($event.action, $event.project)"></crefinancials-creprojectedit>
                </li>
              }
            </ul>
          </div>
        } @else {
          <hr />
          <h5>There are no projects to list</h5>
        }
      </div>
    </div>
  </div>
