<div class="container">
  <div class="row">
    <h2>Manage Clerk Projects</h2>
    <div class="col-12">
      <div class="row">
        <app-datesel [title]="'Project'" [dateOpts]="dateOpts"
          (dateMod)="onDateMod($event.numDays, $event.startDt, $event.endDt)"></app-datesel>
        <hr>
      </div>
      <div class="form-group">
        <label for="house">House</label>
        <select class="form-control" multiple id="house" name="house" data-cy="pro-dho"
          [(ngModel)]="house">
          <option [value]="''" [selected]="!house">-- select an option --</option>
          <option *ngFor="let dHouse of houses" [value]="dHouse.name"
          [selected]="house.includes(dHouse.name)" >{{ dHouse.name }}</option>
        </select>
      </div>
      <button class="btn btn-info col-md-3"  type="button" id="submitSearch" data-cy="pro-srch"
        (click)="onQueryProj()" [disabled]="!(numDays || (startDt && endDt))" >Execute Search</button>
      <div class="row">
        <button class="btn btn-success col-3" type="button"
          (click)="newRow=true">New Project</button>
          <app-creprojectedit *ngIf="newRow"
            (projMod)="onProjMod($event.action, $event.project)"></app-creprojectedit>
      </div>
      <div>
        <app-cremessages [dispMsgs]="dispMsgs"
          (msgDel)="onMsgDel($event.idx, $event.msg)"></app-cremessages>
      </div>
      <div class="row" *ngIf="!!projects && projects.length > 0; else noProjects">
        <ul>
          <li *ngFor="let project of projects">
            <app-creprojectedit [projId]="project.ProjectId!"
              (projMod)="onProjMod($event.action, $event.project)"></app-creprojectedit>
          </li>
        </ul>
      </div>
      <ng-template #noProjects>
        <hr />
        <h5>There are no projects to list</h5>
      </ng-template>
    </div>
  </div>
</div>
