<div class="container">
  <div class="row col-md-12">
    <div class="row">
      <label for="category">Category list</label>
      <select class="form-control" [(ngModel)]="curCatKey" id="category" name="category"
        (change)="onSelect()" data-cy="acat-category">
        <optgroup *ngFor="let catFolder of categoryMap | keyvalue"  label="{{catFolder.key}}">
          <option *ngFor="let category of catFolder.value" [value]="category.RKey">
              {{ category.RKey }}
          </option>
        </optgroup>
      </select>
    </div>
    <div class="row col-md-12" *ngIf="curCategory.RKey !== ''">
      <form (ngSubmit)="onUpdateCategory()" #categoryForm="ngForm">
        <div class="row">
          <!-- todo: Allow for add of category from here -->
          <div class="row form-group">
            <label for="catfold">Category Folder</label>
            <select class="form-control" id="catfold" name="catfold" data-cy="ad-edc"
              [(ngModel)]="curCatFolderKey" data-cy="acat-catfold">
              <option [value]="''" [selected]="!curCatFolder">-- select an option --</option>
              <option *ngFor="let curFolder of categoryFolders" [value]="curFolder.RKey"
                [selected]="curFolder.RKey === curCatFolder.RKey">{{ curFolder.RKey }}</option>
            </select>
            <button class="btn btn-success col-md-3" type="button" *ngIf="!addCategory"
              data-cy="ad-sub" (click)="addCatFolder = true">Add a New Category Folder</button>
            <div *ngIf="addCatFolder">
              <label for="newcatfold">New Category Folder</label>
              <input type="text" class="row form-control col-md-9" id="newcatfold" name="newcatfold"
                [(ngModel)]="newCatFolder" ngModel placeholder="New Category Folder"
                data-cy="acat-newCatFold">
              <button class="btn btn-success col-md-3" type="button" data-cy="ad-sub"
                (click)="onNewCatFolder()" [disabled]="newCatFolder.length < 4">Add Category Folder</button>
              <button class="btn btn-warning col-md-3" type="button" data-cy="ad-sub"
                (click)="addCatFolder = false">Cancel</button>
            </div>
          </div>
          <br><br>
          <div class="row form-group">
            <b> Category: </b>  {{ curCatKey }}
            <button class="btn btn-success col-md-3" type="button" *ngIf="!addCategory"
              data-cy="ad-sub" (click)="addCategory = true">Add a New Category</button>
            <div *ngIf="addCategory">
              <label for="newcat">New Category</label>
              <input type="text" class="row form-control col-md-9" id="newcat" name="newcat"
                [(ngModel)]="newCategory" ngModel data-cy="acat-newCat">
              <button class="btn btn-success col-md-3" type="button" data-cy="ad-sub"
                (click)="onNewCat()" [disabled]="newCategory.length < 4">Add Category</button>
              <button class="btn btn-warning col-md-3" type="button" data-cy="ad-sub"
                (click)="addCategory = false">Cancel</button>
            </div>
          </div>
          <br><br>
          <div class="row form-group">
            <label for="ectaxcat">Tax Category</label>
            <select class="form-control" id="ectaxcat" name="ectaxcat" data-cy="ad-edt"
                [(ngModel)]="curCategory.RVal" data-cy="acat-taxCat">
                <option [value]="''" [selected]="!curCategory">-- select an option --</option>
                <option *ngFor="let curTcDesc of taxCats" [value]="curTcDesc.RKey"
                  [selected]="curTcDesc.RKey === curCategory.RVal">{{ curTcDesc.RKey }}</option>
            </select>
          </div>
          <div class="row">
            <button class="btn btn-success col-md-3" type="submit" data-cy="ad-sub"
              [disabled]="curCatFolderKey === origCatFolder.RKey && curCatKey === origCategory.RKey &&
                curCategory.RVal === origCategory.RVal">Update</button>
            <button class="btn btn-warning col-md-3" type="button"
              (click)="onClearSelect()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  {{ statusMsg }}
</div>
