<div class="row">
  <label for="dateInterval">{{ title }} search by date</label>
  <select class="form-control" id="dateInterval" name="dateInterval"
    [(ngModel)]="curDateIntvl" (change)="runFixedIntvl()" data-cy="cds-dateInterval">
    <option [value]="'0'" [selected]="curDateIntvl === '0'">-- select an option --</option>
    <option *ngFor="let intrvlVal of dateOpts" [value]="intrvlVal.RVal"
      [selected]="intrvlVal.RVal === curDateIntvl">{{ intrvlVal.RKey }}</option>
  </select>
</div>
<div *ngIf="curDateIntvl === '-1'">
  <div>
    <label for="startDate">{{ title }} Start Date&nbsp;&nbsp;</label>
    <input type="date" id="startDate" name="startDate" [(ngModel)]="startDt"
      (change)="runDates(false)" data-cy="cds-startDt" />
  </div>
  <div>
    <label for="endDate">{{ title }} End Date&nbsp;&nbsp;</label>
    <input type="date" id="endDate" name="endDate" [(ngModel)]="endDt"
    (change)="runDates(false)" data-cy="cds-endDt" />
  </div>
  <div *ngIf="!advQuery.isOn">
    <button class="btn btn-success col-md-3"  type="button" id="dateqbtn" name="dateqbtn"
    (click)="runDates(true)">Retrieve</button>
  </div>
</div>
