<div class="row">
  <label for="dateInterval">{{ title }} search by date</label>
  <select class="form-control" id="dateInterval" name="dateInterval"
    [(ngModel)]="dateIntvl" (change)="runFixedIntvl()" data-cy="cds-dateInterval">
    <option [value]="'0'" [selected]="dateIntvl === '0'">-- select an option --</option>
    @for (intrvlVal of dateOpts; track intrvlVal) {
      <option [value]="intrvlVal.RVal"
      [selected]="intrvlVal.RVal === dateIntvl">{{ intrvlVal.RKey }}</option>
    }
  </select>
</div>
@if (dateIntvl === '-1') {
  <div>
    <div>
      <label for="startDate">{{ title }} Start Date&nbsp;&nbsp;</label>
      <input type="date" id="startDate" name="startDate" [(ngModel)]="startDt"
        (change)="runDates(false)" data-cy="cds-startDt" />
    </div>
    <div>
      <label for="endDate">{{ title }} End Date&nbsp;&nbsp;</label>
      <input type="date" id="endDate" name="endDate" [(ngModel)]="endDt"
        (change)="runDates(false)" data-cy="cds-endDt" />
    </div>
  </div>
}
