<div class="container" *ngIf="haveData">
  <div class="col-md-12">
        <!-- inputs for search -->
    <div class="row" *ngIf="action === 'search'">
      <h2>Clerk Transaction Search</h2>
      <div class="col-md-6"> <hr>
        <label for="trnAccount" title="Select one or more accounts">Select Account(s)</label>
        <select class="form-control" id="trnAccount" name="trnAccount" [(ngModel)]="accountArr"
          (change)="multiSelAll()" multiple data-cy="ctrn-accounts">
          <option [value]="'selectAll'">Select All</option>
          <option *ngFor="let account of accounts" [value]="account.RKey" data-cy="ctrn-acctOpts"
          [selected]="accountArr.includes(account.RKey)">{{ account.RKey }}</option>
        </select>
      </div>
      <div class="col-md-6"> <hr>
        <app-datesel [title]="'Transaction'" [dateOpts]="dateOpts"
          (dateMod)="onDateMod($event.numDays, $event.startDt, $event.endDt)"></app-datesel>
        <hr>
      </div>
      <button class="btn btn-success col-md-3"  type="button" id="advSrch"
        (click)="advancedSrch.isOn= !advancedSrch.isOn" data-cy="ctrn-advSrchBtn">{{advancedSrch.isOn ?
        'Standard' : 'Advanced'}} Search</button>
      <button class="btn btn-info col-md-3"  type="button" id="submitSearch" *ngIf="!advancedSrch.isOn"
        (click)="onQueryDates()" data-cy="ctrn-subSrch">Execute Search</button>
      <div class="row col-md-12" *ngIf="advancedSrch.isOn">
        <app-transrch [categoryTaxcat]="categoryTaxcat" [tranTypes]="tranTypes"
          [houses]="houses" [projects]="projects" [taxCats]="taxCats"
          (tranSrch)="onTranSrch($event.action, $event.category, $event.tranType, $event.house,
          $event.project, $event.taxCat, $event.annotationRegEx, $event.minAmt, $event.maxAmt)">
        </app-transrch>
      </div>
    </div>
        <!-- inputs for loadfile -->
    <div class="row col-md-12" *ngIf="action === 'loadfile'">
      <h2>Load QFX or OFX file of Transactions</h2>
      <div class="col-md-6">
        <label for="trnAccount" title="Select account">Select Account</label>
        <select class="form-control" id="trnAccount" name="trnAccount" [(ngModel)]="accountOne"
          data-cy="ctrn-account">
          <option [value]="''" [selected]="accountArr.length === 0">-- select an option --</option>
          <option *ngFor="let account of accounts" [value]="account.RKey" data-cy="ctrn-acctOpts"
          [selected]="accountArr.includes(account.RKey)">{{ account.RKey }}</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="qfxFile" title="Select a file of transactions in ofx or qfx format.  Only enabled if one and only one account is selected">
          Upload ofx/qfx file</label>
        <input type="file" name="qfxFile" id="qfxFile" [disabled]="!accountOne"
          (change)="qfxRead($event)" accept=".qfx, .ofx" data-cy="ctrn-qfxFile" />
      </div>
    </div>    <!-- note createtran has no inputs to get to details screen -->
  </div>
  <br>
  <div class="col-md-12" *ngIf="action === 'createtran'">
    <h2 data-cy="ctrn-addTran">Add a Transaction</h2>
    <hr>
    <app-cretranall [modeOp]="action" [idx]="1"
      (tranMod)="onTranMod($event.action, $event.tranRec)"></app-cretranall>
  </div>
  <div class="col-md-12" *ngIf="action !== 'createtran'">
    <div class="row" *ngIf="!!debitTranRecs && debitTranRecs.length > 0; else noTransDebit">
      <h5 class="col-md-4">{{ debitTranRecs.length }} Total Debits: {{ debitTotals }}</h5>
      <button class="btn btn-primary btn-toggle col-md-1" type="button" data-cy="ctrn-expDebit"
        (click)="expandDebits = !expandDebits">
        <img class="img-responsive" src="assets/images/chevron-right-icon.png"
          style="width: 16px; height: 16px;" *ngIf="!expandDebits">
        <img class="img-responsive" src="assets/images/chevron-down-icon.png"
          style="width: 16px; height: 16px;" *ngIf="expandDebits">
      </button><p></p>
      <ul data-cy="ctrn-debits" *ngIf="expandDebits">
        <li *ngFor="let tran of debitTranRecs; index as i">
          <app-cretranall [tranRec]="tran" [idx]="i"
            [isParent]="tran.TranType === 'TPARENT'"
            (tranMod)="onTranMod($event.action, $event.tranRec)"></app-cretranall>
        </li>
      </ul>
    </div>
    <div class="row" *ngIf="!!creditTranRecs && creditTranRecs.length > 0; else noTransCredit">
      <h5 class="col-md-4">{{ creditTranRecs.length }} Total Credits: {{ creditTotals }}</h5>
      <button class="btn btn-primary btn-toggle col-md-1" type="button" data-cy="ctrn-expCredit"
        (click)="expandCredits = !expandCredits">
        <img class="img-responsive" src="assets/images/chevron-right-icon.png"
          style="width: 16px; height: 16px;" *ngIf="!expandCredits">
        <img class="img-responsive" src="assets/images/chevron-down-icon.png"
          style="width: 16px; height: 16px;" *ngIf="expandCredits">
      </button><p></p>
      <ul *ngIf="expandCredits">
        <li *ngFor="let tran of creditTranRecs; index as i" data-cy="ctrn-creditRow">
          <app-cretranall [tranRec]="tran" [idx]="i"
            [isParent]="tran.TranType === 'TPARENT'"
            (tranMod)="onTranMod($event.action, $event.tranRec)"></app-cretranall>
        </li>
      </ul>
    </div>
    <div>
      <app-cremessages [dispMsgs]="dispMsgs"
        (msgDel)="onMsgDel($event.idx, $event.msg)"></app-cremessages>
    </div>
    <ng-template #noTransDebit>
      <hr>  <h5>There are no Debit transactions to list</h5>
    </ng-template>
    <ng-template #noTransCredit>
      <hr>  <h5 data-cy="ctrn-noCredits">There are no Credit transactions to list</h5>
    </ng-template>
  </div>
  Code Version: {{ codeVersion }}
</div>
