<div class="container">
  <div class="row col-md-12">
    <div class="col-md-6">
      @if (labelStr.length > 0) {
        <div>
          @for (curLabel of labelStr; track curLabel) {
            <div class="row col-md-12">
              {{ curLabel }}
              <input type="file" (change)="handleJsonData($event, curLabel)" accept=".json" />
            </div>
          }
        </div>
      }
      @if (getSourceCid) {
        <div class="row">
          <h2>Source data base information</h2>
          <div class="row">
            <label for="dbPrefix">DB Prefix</label>
            <input type="text" name="dbPrefix" id="dbPrefix" [(ngModel)]="sourceDbPrefix" ngModel>
          </div>
          <div class="row">
            <label for="cid">Customer ID</label>
            <input type="text" name="cid" id="cid" [(ngModel)]="sourceCid" ngModel (change)="onChgCid()">
          </div>
        </div>
      }
      @if (getDestCid) {
        <div class="row">
          <h2>Destination data base information</h2>
          <div class="row">
            <label for="dDbPrefix">DB Prefix</label>
            <input type="text" name="dDbPrefix" id="dDbPrefix" [(ngModel)]="destDbPrefix" ngModel>
          </div>
          <div class="row">
            <label for="dCid">Customer ID</label>
            <input type="text" name="dCid" id="dCid" [(ngModel)]="destCid" ngModel>
          </div>
        </div>
      }
    </div>
    @if (getDateRange) {
      <div class="row">
        <h2>Date Range</h2>
        <div class="row">
          <label for="startDt">Start Date</label>
          <input type="date" name="startDt" id="startDt" [(ngModel)]="startDt" ngModel>
        </div>
        <div class="row">
          <label for="endDt">End Date</label>
          <input type="date" name="endDt" id="endDt" [(ngModel)]="endDt" ngModel>
        </div>
      </div>
    }
  </div>
  @if (getGlobalTypes) {
    <div class="row">
      <h2>Which global types would you like to remove</h2>
      <div class="row">
        <label for="globType">Global Type</label>
        <select class="form-control" id="globType" name="globType"
          [(ngModel)]="selectedGlobalType">
          <option [value]="'All'">All Types</option>
          @for (globType of globalTypeArr; track globType) {
            <option [value]="globType"
            >{{ globType }}</option>
          }
        </select>
      </div>
    </div>
  }
  @if (getTranFilters) {
    <div class="row">
      <h2>Transaction filters you may apply</h2>
      <div class="form-group">
        <label for="account">Account</label>
        <select class="form-control" id="account" name="account" [(ngModel)]="tfAcct">
          <option [value]="''">-- select an option --</option>
          @for (account of accounts; track account) {
            <option [value]="account.RKey">{{ account.RKey }}</option>
          }
        </select>
      </div>
      <div class="form-group">
        <label for="descrip">Description/Category</label>
        <select class="form-control" id="descrip" name="descrip" [(ngModel)]="tfDesc">
          <option [value]="''">-- select an option --</option>
          @for (descrip of descripTaxcat; track descrip) {
            <option [value]="descrip.RKey">{{ descrip.RKey }}</option>
          }
        </select>
      </div>
      <div class="form-group">
        <label for="tranType">Type</label>
        <select class="form-control" id="tranType" name="tranType" [(ngModel)]="tfTranType">
          <option [value]="''">-- select an option --</option>
          @for (tranType of tranTypes; track tranType) {
            <option [value]="tranType">{{ tranType }}</option>
          }
        </select>
      </div>
      <div class="form-group">
        <label for="house">House</label>
        <select class="form-control" id="house" name="house" [(ngModel)]="tfHouse">
          <option [value]="''">-- select an option --</option>
          @for (house of houses; track house) {
            <option [value]="house.name">{{ house.name }}</option>
          }
        </select>
      </div>
      <div class="form-group">
        <label for="taxcat">Tax Category</label>
        <select class="form-control" id="taxcat" name="taxcat" [(ngModel)]="tfTaxCat">
          <option [value]="''">-- select an option --</option>
          @for (taxcat of taxCats; track taxcat) {
            <option [value]="taxcat.RKey">{{ taxcat.RVal }}</option>
          }
        </select>
      </div>
    </div>
  }
  <div class="row">
    @if (selectedAction !== '') {
      <button class="btn btn-primary col-md-2" type="button"
      (click)="doAction()">{{ selectedAction }}</button>
    }
    <div class="col-md-2"></div>
    <button class="btn btn-secondary col-md-2" type="button"
    (click)="selectedAction = ''">Cancel</button>
  </div>
  <div> {{ statusMsg }} </div>
</div>
